html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.begin-link:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}

p {
    font-size: 1rem;
    line-height: 1.75;
    color: var(--text-muted);
}

.book {
    position: relative;
    max-width: 560px;
    margin: 0 auto;
    z-index: 10;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}