<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Birthday Story</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <canvas id="ambientCanvas"></canvas>


    <svg width="0" height="0" aria-hidden="true" focusable="false">
        <clipPath id="book-clip" clipPathUnits="objectBoundingBox">
            <path d="
      M 0.02,0.05
      Q 0.02,0.00 0.10,0.02
      Q 0.25,0.05 0.38,0.03
      Q 0.50,0.01 0.50,0.10
      Q 0.50,0.01 0.62,0.03
      Q 0.75,0.05 0.90,0.02
      Q 0.98,0.00 0.98,0.05
      L 0.98,0.82
      Q 0.75,0.88 0.50,0.94
      Q 0.25,0.88 0.02,0.82
      Z"
    />
        </clipPath>
    </svg>

    <main role="main" class="story-container">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - BIrthday - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
