@model List<BIrthday.Models.StoryChapter>

 @{
    ViewData["Title"] = "Story";
}

@* <section class="story-section reveal ">
    <h1> A small Journey Begins</h1>
    <p> This was made just for you ( also for my learning purposes 🥹🥹)</p>
    <a href="#" id="beginBook" class="begin-link">Begin</a>

</section>
<section class="story-section reveal">
    <h2> A quiet moment</h2>
    <p> 
        some stories dont start loudly,
        They start with curiosity, kindness, courage 
        and boring day at student life wait table
    </p>
</section>
<section class=" story-section reveal">
    <h2> Another chapter</h2>
    <p>
        Today isnt about big fireworks(broke).
        its about celebrating the way you exist
        and flexing my coding muscles.
    </p>
</section>    *@

<section id="book-chapter">
    <div class="book">
        <div class="page">
    <h2 id="chapter-title"></h2>
    <p id="chapter-body"></p>
    <div style="margin-top:24px;">
        <a href="#" id="prevBtn" class="begin-link" style="display:none;"> ⬅️Go back </a>
        <a href="#" id="nextBtn" class="begin-link"> Turn the page ➡️</a>
    </div>
        </div>
    </div>  

</section>
<script>
    document.addEventListener("DOMContentLoaded", () =>{
    const chapters= @Html.Raw(
        System.Text.Json.JsonSerializer.Serialize(Model)
    );
    let index=0;
    const titleE1=document.getElementById("chapter-title");
    const bodyE1=document.getElementById("chapter-body");
    const nextBtn=document.getElementById("nextBtn");
    const prevBtn=document.getElementById("prevBtn");
    const beginbtn = document.getElementById("beginBook");
    const introSections= document.querySelectorAll(".story-section:not(#book-chapter)");
    const bookSection=document.getElementById("book-chapter");

    function renderChapter(){
        titleE1.textContent= chapters[index].Title;
        bodyE1.innerHTML = chapters[index].Body.replace(/\n/g, "<br><br>");
        prevBtn.style.display=index>0?"inline-block": "none";
        nextBtn.style.display = index < chapters.length - 1 ? "inline-block" : "none";
    }
    nextBtn.onclick = e=>{
        e.preventDefault();
        if (index<chapters.length -1){
            index++;
            renderChapter();
        }
    };
     prevBtn.onclick = (e) => {
        e.preventDefault();
        if (index > 0) {
            index--;
            renderChapter();
        }
    };
    beginbtn.onclick = (e) => {
        e.preventDefault();
        // hide intro sections
        introSections.forEach(s => s.style.display = "none");
        bookSection.style.display = "block";
        renderChapter();
    };
    
    renderChapter(
        bookSection.scrollIntoview({behaviour:"smooth", block: "center"});
    );

    });
</script>
