@{
    ViewData["Title"] = "Story";
}

<section class="story-section">
    <h1> A small Journey Begins</h1>
    <p> This was made just for you ( also for my learning purposes 🥹🥹)</p>

</section>

<section class="story-section">
    <h2> A quiet moment</h2>
    <p> 
        some stories dont start loudly,
        They start with curiosity, kindness, courage 
        and boring day at ausu wait table
    </p>
</section>
<section class=" story-section">
    <h2> Another chapter</h2>
    <p>
        Today isnt about big fireworks(broke).
        its about celebrating the way you exist
        and flexing my coding muscles.
    </p>
</section>   